#00 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) 0 0;
}

#01 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -450px 0;
}

#02 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -900px 0;
}

#03 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -1350px 0;
}

#04 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -1800px 0;
}

#05 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -2250px 0;
}

#06 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -2700px 0;
}

#07 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -3150px 0;
}

#08 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -3600px 0;
}

#09 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -4050px 0;
}

#10 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -4500px 0;
}

#11 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -4950px 0;
}

#12 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -5400px 0;
}

#13 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -5850px 0;
}

#14 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -6300px 0;
}

#15 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -6750px 0;
}

#16 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -7200px 0;
}

#17 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -7650px 0;
}

#18 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -8100px 0;
}

#19 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -8550px 0;
}

#20 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -9000px 0;
}

#21 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -9450px 0;
}

#22 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -9900px 0;
}

#23 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -10350px 0;
}

#24 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -10800px 0;
}

#25 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -11250px 0;
}

#26 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -11700px 0;
}

#27 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -12150px 0;
}

#28 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -12600px 0;
}

#29 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -13050px 0;
}

#30 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -13500px 0;
}

#31 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -13950px 0;
}

#32 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -14400px 0;
}

#33 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -14850px 0;
}

#34 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -15300px 0;
}

#35 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -15750px 0;
}

#36 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -16200px 0;
}

#37 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -16650px 0;
}

#38 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -17100px 0;
}

#39 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -17550px 0;
}

#40 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -18000px 0;
}

#41 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -18450px 0;
}

#42 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -18900px 0;
}

#43 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -19350px 0;
}

#44 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -19800px 0;
}

#45 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -20250px 0;
}

#46 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -20700px 0;
}

#47 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -21150px 0;
}

#48 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) 21600px 0;
}

#49 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -22050px 0;
}

#50 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -22500px 0;
}

#51 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -22950px 0;
}

#52 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -23400px 0;
}

#53 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -23850px 0;
}

#54 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -24300px 0;
}

#55 {
	width: 450;
	height: 451;
	background: url(MoonSprite.png) -24750px 0;
}

